.partnerships-page {
    padding-top: 40px;
    margin: 30px 10% 50px 10%;
}

.partnerships-page .partnerships-header {
    font-weight: normal;
    color: #222D59;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5px;
    padding-bottom: 25px;
}

.partnerships {
    border-radius: 5px;
    box-shadow: 0 0 7px 1px #99A1C1;
    padding: 20px;
    margin: 40px;
}

@media screen and (min-width: 801px) {
    .partnerships-info {
        margin-left: 20px;
    }
    .partnerships h1 {
        color: #222D59;
        font-weight: normal;
        margin: 5px;
    }
    .partnerships h3 {
        color: #99A1C1;
        font-weight: normal;
        margin: 8px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 800px) {
    .partnerships-page {
        margin-top: 20%;
    }
    .partnerships h1 {
        color: #222D59;
        font-weight: normal;
        margin: 5px;
        text-align: center;
    }
    .partnerships h3 {
        color: #99A1C1;
        font-weight: normal;
        margin: 8px;
        text-align: center;
    }
}

.partnerships-info a {
    text-decoration: none;
}

.partnerships-info a h3 {
    transition: 0.3s ease-in-out;
}

.partnerships-info a:hover h3 {
    transform: translate(10px);
}