.cirriculum-page {
    margin: 10%;
}

@media screen and (max-width: 800px) {
    .cirriculum-page {
        margin-top: 20%;
    }
}

.module {
    box-shadow: 0 0 20px 1px #99A1C1;
    padding: 10px 20px;
}

.module h1 {
    margin: 5px;
    font-weight: normal;
    color: #222D59;
}

.module a {
    color: #99A1C1;
    font-weight: normal;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.module a h3 {
    font-weight: normal;
    margin-left: 30px;
}

.module a:hover {
    color: #222D59;
}
