#history {
    padding: 40px 0;
    margin: 0;
    scroll-margin-top: 90px;
}

#history .history-header {
    font-weight: normal;
    color: #000;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5px;
    padding-bottom: 25px;
}

.schools {
    border-radius: 5px;
    border: #919191 1px solid;
    padding: 20px;
}

@media screen and (min-width: 640px) {
    .schools-info {
        margin-left: 20px;
    }
    .schools h1 {
        color: #525252;
        font-weight: normal;
        margin: 5px;
    }
    .schools h3 {
        color: #919191;
        font-weight: normal;
        margin: 8px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 640px) {
    .schools h1 {
        color: #525252;
        font-weight: normal;
        margin: 5px;
        text-align: center;
    }
    .schools h3 {
        color: #919191;
        font-weight: normal;
        margin: 8px;
        text-align: center;
    }
    .schools-img {
        margin: 10px auto 20px auto;
    }
}

.schools-info a {
    text-decoration: none;
}

.schools-info a h3 {
    transition: 0.3s ease-in-out;
}

.schools-info a:hover h3 {
    transform: translate(10px);
}

.schools-img img {
    border-radius: 5px;
}

#history h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #525252;
}

#history #testimonialsHeader {
    margin-top: 60px;
    margin-bottom: 0px;
}

.testimonial {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    margin: 0 auto;
    width: 90%;
    padding: 15px;
    color: #636363;
}

#history .carousel .control-next.control-arrow::before {
    border-left: 8px solid black;
}

#history .carousel .control-prev.control-arrow::before {
    border-right: 8px solid black;
}

#testimonialCarousel {
    margin: 0 auto;
    width: 65%;
}