.contact-page {
    margin: 10% 0;
}

.contact {
    box-shadow: 0 0 20px 1px #99A1C1;
    padding: 20px;
    margin: 40px;
    transition: 0.3s ease-in-out;
}

@media screen and (min-width: 801px) {
    .contact-bio {
        margin-left: 20px;
    }
    .contact h1 {
        color: #222D59;
        font-weight: normal;
        margin: 5px;
    }
    .contact h3 {
        color: #99A1C1;
        font-weight: normal;
        margin: 8px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 800px) {
    .contact-page {
        margin-top: 20%;
    }
    .contact h1 {
        color: #222D59;
        font-weight: normal;
        margin: 5px;
        text-align: center;
    }
    .contact h3 {
        color: #99A1C1;
        font-weight: normal;
        margin: 8px;
        text-align: center;
    }
}