#contact {
    width: 100%;
    padding: 40px 0;
    margin: 0;
    scroll-margin-top: 50px;
}

#contact .contact-header {
    font-weight: normal;
    color: #000;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5px;
    padding-bottom: 25px;
}

.contact {
    border-radius: 5px;
    border: #919191 1px solid;
    padding: 20px;
}

@media screen and (min-width: 801px) {
    .contact-bio {
        margin-left: 20px;
    }
    .contact h2 {
        color: #525252;
        font-weight: normal;
        margin: 5px;
        margin-left: 20px;
    }
    .contact h3 {
        color: #919191;
        font-weight: normal;
        margin: 8px;
        margin-left: 20px;
    }
}

@media screen and (max-width: 800px) {
    .contact h2 {
        color: #525252;
        font-weight: normal;
        margin: 5px;
        text-align: center;
    }
    .contact h3 {
        color: #919191;
        font-weight: normal;
        margin: 8px;
        text-align: center;
    }
}

.contact-img img {
    border-radius: 5px;
}