html {
    margin: 0;
    padding: 0;
    background-color: #E3E9F4;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 10%;
}