#home-page {
    margin: 0px;
    padding-top: 80px;
    padding-bottom: 50px;
    color: #525252;
    scroll-margin-top: 90px;
}

.bullets h1 {
    color: #000;
    font-weight: normal;
    width: 50px;
    border: solid #525252;
    border-width: 0 0 2px 0;
    padding-bottom: 10px;
    font-size: 2.2em;
    margin: 10px 0;
}

.bullets p {
    margin-left: 10px;
    margin-bottom: 20px;
}

.remix-logo {
    margin: 3% 0 0 5%;
}

.bullets p a {
    color: #636363;
}

.bullets p a:hover {
    color: #000;
}